<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <style>
        body{
            background-color: chocolate;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>change password below :-</h1>
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {% for forms in form %}
               {{forms.label_tag}}
               {{forms}} 
               <small class="red">{{forms.errors|striptags}} </small><br><br>
             {% endfor %}
             <input type="submit" value="Save">
             <a href="{% url 'profile' %}" type="button" >go back</a>
       </form>
    </div>
</body>
</html>